@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

* {
  color: #333;
}

body {
  margin-top: 8rem;
  margin-left: 5rem;
}

body header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 42pt;
  margin-bottom: 5pt;
}

hr {
  height: 2px;
  
  width: 98%;
  background: #bcbcbc;
  overflow: hidden;
  margin-left: -8px; /* extend to the 'j' */
  margin-top: 0.2em;
  margin-bottom: 1.5em;
}

article {
  font-family: 'PT Sans', sans-serif;
  font-size: 12.5pt;
  
  width: 98%;
}


dl {
  padding: 0.5em;
}

dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
}

dd {
  margin: 0 0 0 7.5em;
  padding: 0 0 0.5em 0;
}